.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner-content-img img{
  width: 131%;
}