.pending-posts {
  flex: 1;
  margin: 1rem 2rem;
}

.pending-posts-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 6rem;
}

.pending-posts-content_button {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.pending-posts-content_button button {
  min-height: 40px;
  flex: 0.1;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.pending-posts-content_button span {
  font-family: var(--font-family);
  font-size: 16px;
}

.pending-posts-content-table {
  border-radius: 15px;
  background-color: var(--primary-color);
}

.pending-posts-content-table h3 {
  color: var(--text-color);
}

.pending-posts-content-table span {
  color: var(--secondary-color);
  font-size: 16px;
}

.pending-posts-thumbs-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.pending-posts-thumbs {
  border: none;
  background-color: unset;
  color: var(--text-color);
  cursor: pointer;
}

.pending-posts-thumbs:hover {
  color: var(--secondary-color);
}

.pagination {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  height: 50px;
  background-color: white;
}
