.create-cities-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.create-cities-header h1,
p {
  font-family: var(--font-family);
}

.create-cities-header p {
  color: black;
}

.create-cities-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.create-cities-form-input {
  flex: 6;
}

.create-cities-form button {
  flex: 1;
  border: none;
  cursor: pointer;
  min-height: 55px;
  border-radius: 15px;
}

.create-cities-form span {
  font-family: var(--font-family);
  font-weight: bold;
}

.create-cities-ia-response {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.create-cities-ia-response p {
  color: var(--primary-color);
}

.create-cities-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.create-cities-footer button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.create-cities-footer button:hover {
  color: green;
}

.form-text-input {
  width: 100%;
}
