.update-cities-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.update-cities-content button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.update-cities-content button:hover {
  color: green;
}

.update-cities-header {
  font-family: var(--font-family);
}

.update-cities-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.update-cities-form-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
}

.update-cities-form-bottom {
  display: flex;
  align-items: center;
}

.update-cities-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-text-input {
  width: 100%;
}
